body {
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
}

li {
    list-style: none;
}
nav.top-bar {

    background: transparent;

}

nav {
    padding-top: 10px;
}

.nav-list {
    float: right;
    margin-right: 10%;
    vertical-align: middle;
}
.nav-list, .nav-list li {
    list-style: none;
    display: inline-block;
}

.nav-list li {
    padding: 1em;
    padding-bottom: .2em;
    color: white;
    font-weight: 300;
    font-size: .9em;
    position: relative;
}

.nav-list li:after {
  display: block;
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0;
  height: 1px;
  background-color: white;
  content: "";
  transition: width 0.2s;
}

.nav-list li:hover:after {
  width: 100%;
}

.nav-list a {
    color: white;
}


.first-section {
    height: 100vh;
    width: 100vw;
    position: relative;
    background: url(../imgs/home-bg.jpg);
    background-position: center center;
    background-size: cover;
}
.first-section h2, .first-section p {
    color: white;
}
.first-section h2 {
    font-family: 'Lobster', cursive;
    line-height: 1;
}

.first-section p{
    font-weight: 300;
    font-size: 1em;
}

.first-section .mock{
    position: absolute;
    top: 11px;
}


.first-section .first-section-text{
    margin-top: 20%;
}


#about {
    background: white;
    padding: 1em;
    padding-top: 5%;
}

#about h2 {
    margin-bottom: 1.4em;
    color: #dd5e6a;
    border-bottom: 1px solid #dd5e6a;
    font-family: 'Lobster', cursive;

}

#about p {
    margin-bottom: 0;
}

#about ul li {
    list-style: none;
    display: inline-block;
}

#about li {
    padding: 1em;
}

#about img {
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
}


#about .job {
    color: #dd5e6a;
}

.social-icons {
    margin-top: 10px;
}

.social-icons a {
    color: #d8d8d8;
}

.social-icons a.linkedin:hover {
    color: #0077b5;
}

.social-icons a.twitter:hover {
    color: #55acee;
}

.social-icons a.github:hover {
    color: #333333;
}

.top-bar {
    height: 5rem;
}


@media (max-width: 500px) {
    body, nav.top-bar {
        background: -webkit-linear-gradient(120deg, #dd5e6a 10%, #e65245 90%);
        background:    -moz-linear-gradient(120deg, #dd5e6a 10%, #e65245 90%);
        background:     -ms-linear-gradient(120deg, #dd5e6a 10%, #e65245 90%);
        background:      -o-linear-gradient(120deg, #dd5e6a 10%, #e65245 90%);
        background:         linear-gradient(120deg, #dd5e6a 10%, #e65245 90%);
    }
    .first-section {
        background: none;
        height: 80vh;
    }
    .first-section .first-section-text{
        margin-top: 5%;
    }
    #about p {
        margin-bottom: 0;
    }
    nav .nav-list li {
        width: 100%;
        border-bottom: 1px solid white;
    }
    .nav-list li:hover:after {
      width: 0;
    }
    .top-bar {
        height: 5rem;
    }
    .top-bar.expanded .toggle-topbar a {
        color: white;
    }
}
