<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>zaper - Redefinir senha</title>
    <meta name="description" content="">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.9.0/angular-material.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body ng-app='zaper' ng-controller='RecoverCtrl' ng-cloak>
    <section>
        <md-content layout-padding>
            <form name="userForm">
                <div layout layout-sm="column">
                    <md-input-container flex>
                        <label for="new-password">First name</label>
                        <input type="password" name="new-password" placeholder="Digite sua nova senha">
                    </md-input-container>
                    <md-input-container flex>
                        <label>Last Name</label>
                        <input ng-model="theMax">
                    </md-input-container>
                </div>
            </form>
        </md-content>
        <form action="">
        <form ng-submit='submit()'>
            <label for="new-password">
                <input type="password" name="new-password" placeholder="Digite sua nova senha" ng-model='password'>
            </label>
            <label for="new-password-again">
                <input type="password" name="new-password-again" placeholder="Digite novamente sua senha" ng-model='repeat_password'>
            </label>
            <button type="submit" ng-click='submit()'>
                Enviar
            </button>
        </form>
    </section>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.9.0/angular-material.min.js"></script>
    <script>
        var app = angular.module('zaper', ['ngMaterial']).controller('RecoverCtrl', RecoverCtrl);

        function RecoverCtrl($scope, $http, $location) {
            var token = $location.search().token;
            $scope.submit = function() {
                if($scope.password && $scope.password == $scope.repeat_password && $scope.password.length > 4) {
                    $http.put("http://api.zaper.com.br/api/password", {
                        token: token,
                        password: $scope.password
                    }).success(function(result) {
                        console.log(result);
                    })
                    .error(function(e) {

                    });
                }
                // $scope.isSending = true;
                // $scope.hasError = false;
                // if($scope.report.type == null || $scope.report.device.platform == null || $scope.report.content == null || $scope.report.content.length == 0) {
                //     $scope.isSending = false;
                //     $scope.hasError = true;
                // }
                //
                // $http.post('http://api.zaper.com.br/api/report', $scope.report)
                //     .success(function() {
                //         $scope.sent = true;
                //     })
                //     .error(function() {
                //         $scope.isSending = false;
                //         $scope.hasError = true;
                //     });
            };
        }
    </script>
</body>

</html>
